.page-home {
  display: block;
}
.page-graph{
  height:392px;
  background: #83B0D7;
  color:white;
  opacity: 40%
}
.page-echart{
  height:200px;
  background: #2170B5;
  color:white;
}
.page-button{
  background: #A4B6C6 !important;
  width:23%;
  display:inline-block !important;
}